$myColor: #ff3a18;
.main {
    .search-input {
        height: 40px;
        outline: none;
        border: 1px solid $myColor;
    }
    .search{
        display: grid;
        align-items: center;
        justify-content: end;
    }
    .field {
        position: relative;
        padding: 0rem 1rem;
        padding-right: 10rem;
        border-radius: 5px;
    }
    .query:hover{
        background: rgba(255, 0, 0, 0.738);
    }
}


.error-message{
    color: $myColor;
    font-size: .5rem;
    text-align: center;
}

.loading-header{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr !important;
    width:100%;
    background-color: $myColor;
}
.main{
    & .products{
        & .product{
            grid-template-columns: .5fr 1.5fr 1fr 1fr .8fr 2fr 1fr 1fr;
            gap: .2rem;
        }
    }
}