$myColor: #ff3a18;
.main {
    display: grid;
    place-items: center;
    margin-top: 50px;
    & .search {
        position: relative;
    }
    .search-input {
        height: 40px;
        outline: none;
        border: 1px solid $myColor;
    }
    .field {
        width: 450px;
        padding: 0rem 1rem;
        padding-right: 10rem;
        border-radius: 50px;
    }
    .query {
        width: 150px;
        height: 44px;
        position: absolute;
        border-radius: 50px;
        right: 0;
        top: 0;
        background-color: $myColor;
        cursor: pointer;
        color: #fff;
    }
    & .products {
        display: grid;
        grid-template-columns: 75% 25%;
        gap: .1rem;
        width: 100%;
        margin-top: 50px;
        &-favorites {
            padding: 1rem;
            h3 {
                color: $myColor;
                position: relative;
                &::after {
                    content: "";
                    width: 100px;
                    height: 5px;
                    bottom: 0;
                    background: rgb(196, 196, 196);
                    position: absolute;
                    left: 0;
                    margin-bottom: -20px;
                }
            }
        }
        &-updates {
            padding: 1rem;
            &__card {
                box-shadow: 0px 0px 10px rgb(228, 228, 228);
                padding: 0.5rem 1rem;
                img {
                    width: 100%;
                    margin: auto;
                }
            }
        }
        & .product {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 0.5rem;
            border: 1px solid rgb(238, 238, 238);
            padding: 1rem;
            background-color: #fff;
            font-family: 'Lato', sans-serif;
            font-size: .85rem;
            & .quantity {
                display: grid;
                place-items: center;
                input {
                    width: 50px;
                    text-align: center;
                    height: 26px;
                }
            }
            & .sell {
                display: grid;
                place-items: center;
                input {
                    background: red;
                    border-radius: 50px;
                    border: none;
                    padding: 0.5rem 1rem;
                    font-size: .75rem;
                    color: #fff;
                    cursor: pointer;
                    outline: none;
                }
                input:hover {
                    color: $myColor;
                    border: 1px solid $myColor;
                    background: #fff;
                    transition: 0.2s ease-in-out;
                }
            }
        }
        & .product-header {
            border: none;
            position: sticky;
            top: 0;
            background-color: inherit;
            background: #fff;
            font-size: .90rem;
            border: solid 1px rgb(228, 228, 228);
            font-weight: bolder;
        }
    }
}
