<header>
    <div class="container">
        <nav class="navbar">
            <div class="navbar__left animate__animated animate__fadeInLeft animate__delay-.5s">
                <a routerLink="/"> <img src="../../../../assets/images/logo.svg" alt="" />
                    &nbsp;&nbsp;
                    DukaShop
                </a>
            </div>
            <div class="navbar__right">
                <a routerLink="/login" class=" animate__animated animate__fadeIn animate__delay-.5s">Login</a>
                <a routerLink="/contact" class=" animate__animated animate__fadeIn animate__delay-.5s signup">Signup</a>
            </div>
        </nav>
    </div>
</header>