<header>
    <div class="container">
        <nav class="navbar">
            <div class="navbar__left">
                <img src="../../../../assets/images/logo.svg" alt="">
                &nbsp;&nbsp;
                <a routerLink="/">
                    DukaShop</a>
            </div>
            <div class="navbar__right">
                <a routerLink="/login">Login</a>
                <a routerLink="/contact" class="signup">Signup</a>
            </div>
        </nav>
    </div>
</header>