$myColor: #FF3A18;

.navbar {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    &__left{
        & a{
        font-size: 1.5rem;
        color: $myColor;
        }
        & a:hover{
            color: #000;
            transition: .2s ease-in-out;
        }
    }
    &__right {
        text-align: right;
        a{
            padding: 0rem 1rem;
            font-family: 'Lato', sans-serif;
            font-size: 0.85rem;
        }
        a:hover{
            background-color: #FFF6DA;
            border-radius: 5px;
            padding: .5rem 1rem;
            transition: .2s ease-in-out;
        }
    }
}
