$myFont: "Oswald", sans-serif;
$myFontSize: 18px;


$transitionTime: .2s ease-in-out;
$myWidth: 1180px;
$contentHeight: calc(100vh - 130px);

$mywhite:#fff;
$textmuted:#BAB7C2;
$mylight1: #CAF0F8;
$mylight2: #ADE8F4;
$mylight3: #00B4D8;
$mydark1: #0077B6;
$mydark2: #0F0928;

$myred: #F65927;