$myColor: #ff3a18;
.cart-header{
    width: 100%;
    display: grid;
    grid-template-columns: .5fr 2fr;
    align-items: end;
    input{
        width: 96.5%;
        border: 1px solid silver;
        outline: none;
        margin-left: auto;
    }
    input[type=text]{
        padding: .5rem 1rem;
        border-radius: 5px;
    }
}
.main {
    .search-input {
        height: 40px;
        outline: none;
        border: 1px solid silver;
    }
    .search{
        display: grid;
        align-items: center;
        justify-content: end;
    }
    .field {
        position: relative;
        padding: 0rem 1rem;
        padding-right: 10rem;
        border-radius: 5px;
    }
    .query:hover{
        background: rgba(255, 0, 0, 0.738);
    }
    & .products{
        & .product{
            grid-template-columns: .5fr 1fr 1.5fr 1fr .5fr 1fr 2fr 1fr;
        }
    }
}

.error-message{
    color: $myColor;
    font-size: .5rem;
    text-align: center;
}

.loading-header{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr !important;
    width:100%;
    background-color: $myColor;
}
.total{
    text-align: right;
    margin-top: 1rem;
    font-size: 2.5rem;
    color: grey;
    span{
        font-weight: bolder;
        color: #000;
    }
}