/* You can add global styles to this file, and also import other style files */
html{
    text-rendering: optimizeLegibility;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}