$myColor: #ff3a18;
.main {
    display: grid;
    place-items: center;
    & .search {
        position: relative;
        display: none;
    }
    .search-input {
        height: 40px;
        outline: none;
        border: 1px solid $myColor;
    }
    .field {
        width: 450px;
        padding: 0rem 1rem;
        padding-right: 10rem;
        border-radius: 50px;
    }
    .query {
        width: 150px;
        height: 44px;
        position: absolute;
        border-radius: 50px;
        right: 0;
        top: 0;
        background-color: $myColor;
        cursor: pointer;
        color: #fff;
    }
    .query:hover{
        background: rgba(255, 0, 0, 0.738);
    }
    & .products {
        grid-template-columns: 75% 25%;
        &-favorites {
            padding: 1rem;
            h3 {
                color: $myColor;
                position: relative;
                &::after {
                    content: "";
                    width: 100px;
                    height: 5px;
                    bottom: 0;
                    background: rgb(196, 196, 196);
                    position: absolute;
                    left: 0;
                    margin-bottom: -20px;
                }
            }
        }
        &-updates {
            padding: 1rem;
            &__card {
                box-shadow: 0px 0px 10px rgb(228, 228, 228);
                padding: 0.5rem 1rem;
                img {
                    width: 100%;
                    margin: auto;
                }
            }
        }
        & .product{
            grid-template-columns: repeat(6, 1fr);
        }
    }
}


.error-message{
    color: $myColor;
    font-size: .5rem;
    text-align: center;
}

.loading-header{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr !important;
    width:100%;
    background-color: $myColor;
}

.cart-header{
    width: 100%;
    display: grid;
    grid-template-columns: .5fr 2fr 1fr;
    gap: 1rem;
    align-items: end;
    input{
        width: 80%;
        border: 1px solid silver;
        outline: none;
        margin: auto;
    }
    input[type=text]{
        padding: .5rem 1rem;
        border-radius: 5px;
    }
    input[type=submit]{
        border-radius: 50px;
        background-color: $myColor;
        padding: .5rem 1rem;
        color: #fff;
        border: none;
        cursor: pointer;
        float: right;
        margin-left:auto;
        &:hover{
            color: #fff;
            background: rgba(255, 0, 0, 0.738);
            transition: 0.2s ease-in-out;
        }
    }
}