$myColor: #ff3a18;
.main {
    & .products {
        grid-template-columns: 75% 25%;
        &-favorites {
            padding: 1rem;
            h3 {
                color: $myColor;
                position: relative;
                &::after {
                    content: "";
                    width: 100px;
                    height: 5px;
                    bottom: 0;
                    background: rgb(196, 196, 196);
                    position: absolute;
                    left: 0;
                    margin-bottom: -20px;
                }
            }
        }
        &-updates {
            padding: 1rem;
            display: grid;
            align-items: center;
            &__card {
                box-shadow: 0px 0px 10px rgb(228, 228, 228);
                padding: 0.5rem 1rem;
                img {
                    width: 100%;
                    margin: auto;
                }
            }
        }
        & .product{
            grid-template-columns: .5fr 1fr 1fr .5fr 1fr 1fr;
        }
    }
}


.error-message{
    color: $myColor;
    font-size: .5rem;
    text-align: center;
}

.loading-header{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr !important;
    width:100%;
    background-color: $myColor;
}

.cart-header{
    width: 100%;
    display: grid;
    grid-template-columns: .5fr 2fr 1fr;
    gap: 1rem;
    align-items: end;
    input{
        width: 80%;
        border: 1px solid silver;
        outline: none;
        margin: auto;
    }
    input[type=text]{
        padding: .5rem 1rem;
        border-radius: 5px;
    }
    input[type=submit]{
        border-radius: 5px;
        background-color: $myColor;
        padding: .5rem 1rem;
        color: #fff;
        border: none;
        cursor: pointer;
        float: right;
        margin-left:auto;
        &:hover{
            color: #fff;
            background: rgba(255, 0, 0, 0.738);
            transition: 0.2s ease-in-out;
        }
    }
}